<app-shared-bar *ngIf="manager; else edit">Create Products</app-shared-bar>
<ng-template #edit>
    <app-shared-bar>Edit Products</app-shared-bar>
</ng-template>

<div class="form">
    <app-text-field [formControl]="$any(form).controls.userName" label="User Name"></app-text-field>
    <app-text-field [formControl]="$any(form).controls.firstName" label="First Name"></app-text-field>
    <app-text-field [formControl]="$any(form).controls.lastName" label="Last Name"></app-text-field>
    <app-text-field [type]="'password'" [formControl]="$any(form).controls.password" label="Password"></app-text-field>
    <button *ngIf="manager; else update">Create</button>
    <ng-template #update>
        <button mat-button color="primary">Update</button>
    </ng-template>
</div>
