
@use '@angular/material' as mat;
@include mat.core();
@import './colors';
@import './app/app.theme';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
}

$app-light-theme: mat.define-light-theme(
    mat.define-palette($app-primary-palette),
    mat.define-palette($app-accent-palette),
    mat.define-palette(mat.$red-palette, 800)
);

.theme-light{
  @include app-theme($app-light-theme);
}
